@model MyBlog.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta description="@Model.MetaDescription"  />
    <title>@Model.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="top-nav">
       @Html.Partial("~/Views/Shared/Partials/_TopMenu.cshtml", Model)
    </div>
  
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Content/main.js"></script>
</body>
</html>
